.footer {
	position: absolute;
	left: 0;
	right: 0;
	max-width: 1024px;
	height: auto;
	margin: 0 auto;
	padding: 50px 1.5%;
	box-sizing: border-box;
	color: #3D1101;
	font-family: MicrosoftJhengHeiRegular;
	display: flex;
	background: #EFE9E7;
	font-size: 16px;
	line-height: 21px;
}

.footer > * {
	width: 28.33%;
	margin: 0 2.5%;
}

.footer h2 {
	margin-bottom: 16px;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}

@media(max-width: 768px) {
	.footer {
		padding: 50px 0;
	}
}

@media(max-width: 620px) {
	.footer h2 {
		font-size: 22px;
	}
}

@media(max-width: 576px) {
	.footer {
		flex-direction: column;
	}

	.footer > * {
		width: 95%;
		margin: 0 2.5% 30px;
	}
}

.contact ul {
	list-style: disc;
	text-indent: 18px;
}

.link {
	text-align: right;
}

.link .img {
	max-width: 240px;
	margin-right: 0;
	margin-left: auto;
}

.link .img img {
	width: 100%;
}

.link .icon {
	margin-top: 22px;
	font-size: 36px;
}

.link .icon i:nth-child(1) {
	color: #DB4437;
}

.link .icon i:nth-child(2) {
	font-size: 36px;
	color: #41ABE1;
}

.link .icon i:nth-child(3) {
	color: #3A5795;
}

@media(max-width: 576px) {
	.link {
		margin-bottom: 0;
	}
}