.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-width: 1024px;
	height: 420px;
	margin: 0 auto;
	background-image: url(img/header_desktop.png);
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
}

.navbar {
	display: flex;
	background: rgba(0, 0, 0, 0.75);
}

.navbar .logo {
	margin: 16px auto 16px 42px;
}

h1 {
	background-image: url(img/logo_w@svg.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
	width: 120px;
	height: 24px;
}

.navbar a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: Microsoft JhengHei;
	text-decoration: none;
	text-align: center;
}

.navbar .nav-item {
	margin: auto 0;
}

.navbar .nav-item:last-child {
	margin-right: 33px;
}

.title {
	background: rgba(0, 0, 0, 0.35);
	margin: 67px auto 145px;
	padding: 26px 32px;
	max-width: 460px;
	text-align: center;
}

.title h2 {
	font-size: 36px;
	margin-bottom: 16px;
}

.title p {
	line-height: 1.35;
}

.fa-utensils {
	margin: auto 5px;
}

.nav-toggle {
	display: none;
	cursor: pointer;
}

.open .navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	flex-direction: column;
	background: rgba(0, 0, 0, 85);
}

.open .nav-item {
	display: block;
}

.open .nav-toggle {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 15.5px;
	z-index: 999;
}

.open .title {
	margin-top: 112px;
}

@media (max-width: 768px) {
	.navbar .logo {
		margin-left: 15px;
	}

	h1 {
		width: 94px;
	}
}

@media (max-width: 576px) {
	.container {
		background-image: url(img/header_mobile.png);
	}

	.nav-item {
		display: none;
	}

	.nav-toggle {
		display: block;
		margin: auto;
		margin-right: 15px;
		font-size: 24px;
	}

	.navbar .nav-item:last-child {
		margin-right: 0;
	}

	.title {
		background: rgba(0, 0, 0, 0.35);
		margin: 56px auto 145px;
		padding: 20px 6px;
		max-width: 300px;
		text-align: center;
	}
}
