body {
	font-family: Microsoft JhengHei;
	font-size: 0;
}

/*iframe跟container中間有換行的小空白，所以先把字級設0*/

.container {
	background: #EFE9E7;
	max-width: 1024px;
	margin: 0 auto;
	padding: 50px 0;
	color: #3D1101;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}

.container-tips .title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-tips .title h2 {
	font-size: 20px;
	font-weight: bold;
	line-height: 32px;
	margin: 0 2%;
}

.title .line {
	width: 20%;
	border-bottom: 1px solid #979797;

}

.container-tips .tips {
	display: flex;
}

.tips .tips-item {
	width: 30.33%;
	margin: 30px 1.5% 0;
}

.tips-item img {
	width: 80%;
	border-radius: 50%;
}

.tips-item h3 {
	margin: 22px auto 11px;
	font-size: 18px;
	font-weight: bold;
}

@media (max-width: 576px) {
	.tips {
		flex-direction: column;
	}

	.tips .tips-item {
		width: 80%;
		margin: 30px 10% 20px;
	}

	.tips-item img {
		width: 60%;
	}
}

@media (max-width: 375px) {
	.container-tips .title h2 {
		margin: 0 4%;
	}

	.title .line {
		width: 12%;
	}
}

.container-chef {
	display: flex;
	background: #3D1101;
	align-items: center;
	padding: 0;
}

.container-chef .img {
	margin: 0 2% 0 3%;
	width: 45%;
	font-size: 0;
	line-height: 0;
}

.container-chef img {
	width: 100%;
}

.chef-txt {
	margin-right: 3%;
	padding: 20px 0;
	width: 47%;
	color: #EFE9E7;
	text-align: left;
}

.chef-txt h2 {
	font-size: 20px;
	line-height: 32px;
}

.chef-txt h3 {
	margin-bottom: 16px;
	line-height: 21px;
}

.chef-txt p {
	line-height: 21px;
}

@media (max-width: 768px) {
	.chef-txt {
		padding: 5% 0;
	}
}

@media (max-width: 576px) {
	.container-chef {
		flex-direction: column;
		padding-top: 20px;
	}

	.container-chef .img {
		width: 80%;
		margin: auto 2%;
	}

	.chef-txt {
		width: 85%;
		margin: auto;
	}
}

@media (max-width: 375px) {

	.container-chef .img {
		width: 95%;
		margin-top: 20px;
	}

	.chef-txt {
		width: 85%;
		margin: auto;
	}
}

.container-feedback h2 {
	margin-bottom: 32px;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}

.feedback {
	display: flex;
	margin: 0 1%;
}

.feedback-item {
	display: flex;
	width: 30.33%;
	margin: 0 1.5%;
}

.feedback-item .img {
	width: 25%;
	margin-right: 5%;
}

.feedback img {
	width: 100%;
	border-radius: 50%;
}

.feedback-item .txt {
	display: flex;
	width: 70%;
	flex-direction: column;
	text-align: left;
}

.feedback-item .txt h3 {
	margin: 22px 0;
	font-size: 18px;
	font-weight: bold;
}

.feedback-item .txt p:last-child {
	margin-top: 16px;
	color: rgba(61, 17, 0, 0.75);
	text-align: right;
}

@media (max-width: 576px) {
	.feedback {
		flex-direction: column;
		margin: 0 3%;
	}

	.feedback-item {
		width: 94%;
	}

	.feedback-item .img {
		width: 20%;
	}

	.feedback-item .txt {
		width: 80%;
	}
}

.container-reserve {
	background: rgba(250, 250, 250, 0.70);
}

.container-reserve h2 {
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 38px;
}

.container-reserve .reserve {
	display: flex;
	margin: 0 5%;
	justify-content: space-between;
}

.reserve .maps {
	width: 50%;
}

.reserve .maps iframe {
	width: 100%;
}

.reserve form {
	width: 48%;
	margin-left: 2%;
	text-align: left;
}

.reserve label {
	font-size: 14px;
	line-height: 20px;
}

.reserve input {
	display: block;
	width: 100%;
	margin: 4px auto 8px;
	padding: 5px 14px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 22px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0px 1px 0px 0px #ECECEC;
}

.reserve form p {
	margin-top: 12px;
	font-size: 14px;
	line-height: 20px;
}

.reserve form .radio {
	display: flex;
	margin-bottom: 28px;
	align-items: center;
	cursor: default;
}

.reserve .radio input {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 6px 36px 0 6px;
	border: 1px solid #4A90E2;
	box-shadow: none;
}

.reserve label {
	margin-top: 6px;
}

.reserve .button {
	font-size: 0;
	text-align: right;
}

.button button {
	background: rgba(0, 0, 0, 0.35);
	width: 70px;
	padding: 6px 0;
	font-size: 14px;
	color: #fff;
	border: 0;
	border-radius: 3px;
}

.button button:last-child {
	background: #F56C23;
	margin-left: 11px;
}

@media (max-width: 576px) {
	.container-reserve .reserve {
		flex-direction: column;
	}

	.reserve .maps {
		width: 100%;
		margin: auto;
	}

	.reserve form {
		width: 100%;
		margin: auto;
		margin-top: 15px;
	}
}